
body{
  margin: 0;
  background: #87ceeb;
 }
 
 #container {
  
  height: 800px;
  margin: 0;
  background: #87ceeb;

}
 
  



.balloons div {
  position: absolute;
  left: 0;
  bottom: -150px;
  width: 80px;
  height: 100px;
  background: #ffa07a;
  border-radius: 50%;
  box-shadow: -6px -6px 0 rgba(0, 0, 0, 0.15) inset;
}

.balloons div:before {
  content: '';
  position: absolute;
  left: 38px;
  bottom: -70px;
  width: 2px;
  height: 70px;
  background: #a0a0a0;
  transform: rotate(5deg);
}





.balloons div:nth-of-type(1) {
  left: -5%;
  background: #9400d3;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 13s ease-in-out infinite;
}

.balloons div:nth-of-type(2) {
  left: 12%;
  background: #ffc0cb;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 7s ease-in-out infinite;
}

.balloons div:nth-of-type(3) {
  left: 18%;
  background: #ffa07a;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 16s ease-in-out infinite;
}

.balloons div:nth-of-type(4) {
  left: 22%;
  background: #f0f8ff;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 14s ease-in-out infinite;
}

.balloons div:nth-of-type(5) {
  left: 36%;
  background: #ffa07a;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 7s ease-in-out infinite;
}

.balloons div:nth-of-type(6) {
  left: 50%;
  background: #00fa9a;
  animation: wobbling_x 0.9s ease-in-out infinite alternate,
    wobbling_y 1.2s ease-in-out infinite alternate,
    fly_high 12s ease-in-out infinite;
}

.balloons div:nth-of-type(7) {
  left: 62%;
  background: #ffc0cb;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 15s ease-in-out infinite;
}

.balloons div:nth-of-type(8) {
  left: 68%;
  background: #9400d3;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 7s ease-in-out infinite;
}

.balloons div:nth-of-type(9) {
  left: 78%;
  background: #ffa07a;
  animation: wobbling_x 0.9s ease-in-out infinite alternate,
    wobbling_y 1.2s ease-in-out infinite alternate,
    fly_high 9s ease-in-out infinite;
}

.balloons div:nth-of-type(10) {
  left: 90%;
  background: #ff0000;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 11s ease-in-out infinite;
}

.balloons div:nth-of-type(11) {
  left: 0%;
  background: #f0f8ff;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 9s ease-in-out infinite 7s;
}

.balloons div:nth-of-type(12) {
  left: 3%;
  background: #ffa07a;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 7s ease-in-out infinite 2s;
}

.balloons div:nth-of-type(13) {
  left: 10%;
  background: #ff0000;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 8s ease-in-out infinite 5s;
}

.balloons div:nth-of-type(14) {
  left: 25%;
  background: #00ced1;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 12s ease-in-out infinite 6s;
}

.balloons div:nth-of-type(15) {
  left: 37%;
  background: #00fa9a;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 7s ease-in-out infinite 4s;
}

.balloons div:nth-of-type(16) {
  left: 45%;
  background: #00ced1;
  animation: wobbling_x 0.9s ease-in-out infinite alternate,
    wobbling_y 1.2s ease-in-out infinite alternate,
    fly_high 9s ease-in-out infinite;
}

.balloons div:nth-of-type(17) {
  left: 55%;
  background: #ffc0cb;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 13s ease-in-out infinite 8s;
}

.balloons div:nth-of-type(18) {
  left: 60%;
  background: #f0f8ff;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 10s ease-in-out infinite 1s;
}

.balloons div:nth-of-type(19) {
  left: 75%;
  background: #00fa9a;
  animation: wobbling_x 0.9s ease-in-out infinite alternate,
    wobbling_y 1.2s ease-in-out infinite alternate,
    fly_high 15s ease-in-out infinite 7s;
}

.balloons div:nth-of-type(20) {
  left: 95%;
  background: #00ced1;
  animation: wobbling_x 0.8s ease-in-out infinite alternate,
    wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 11s ease-in-out infinite 6s;
}

@keyframes wobbling_x {
  0% {
    margin-left: 8px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes wobbling_y {
  0% {
    margin-bottom: 0px;
  }

  100% {
    margin-bottom: 8px;
  }
}

@keyframes fly_high {
  100% {
    transform:translateY(-1000px);
  }
}


/*========= レイアウトのためのCSS ===============*/




p{
  text-align: center;
  font-family: 'Baloo Bhaina', cursive;  /* 使うgoogle fontによって変更 */
  font-size: 85px;
  font-weight: bold;
  color: #fff;  
  margin: 300px;
  text-shadow: 3px 3px 0 #99bbe2, 6px 6px 0 #6798d2, 9px 9px 0 #2769b7;
  -webkit-transform: skewY(-7deg);  /* 傾きを調整 */
  -ms-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
  background-color: rgb(125, 167, 217);

  
  
}

h1{
  color: transparent;
  font-size: 40px;
}


/*========= 1文字ずつ出現させるためのCSS ===============*/

.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on 1s ease-out forwards; }
@keyframes text_anime_on {
  0% {opacity:0;}
  100% {opacity:1;}
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:rgb(255, 255, 255);
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}


/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:94%;
   margin:0 auto;
}

.slider img {
   width:100%;/*スライダー内の画像を横幅100%に*/
   height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
   margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
   position: absolute;/*絶対配置にする*/
   top: 42%;
   cursor: pointer;/*マウスカーソルを指マークに*/
   outline: none;/*クリックをしたら出てくる枠線を消す*/
   border-top: 2px solid #666;/*矢印の色*/
   border-right: 2px solid #666;/*矢印の色*/
   height: 15px;
   width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
   left: -1.5%;
   transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
   right: -1.5%;
   transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
   text-align:center;
 margin:20px 0 0 0;
}

.slick-dots li {
   display:inline-block;
 margin:0 5px;
}

.slick-dots button {
   color: transparent;
   outline: none;
   width:8px;/*ドットボタンのサイズ*/
   height:8px;/*ドットボタンのサイズ*/
   display:block;
   border-radius:50%;
   background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
   background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/


 
 h2,p {
    text-align:center;
    padding:20px;
 }
 
 ul{
  margin:0;
  padding: 0;
  list-style: none;
 }
 
 a{
  color: #333;
 }
 
 a:hover,
 a:active{
  text-decoration: none;
 }


/* ボタン共通設定 */
.btn01{
    /*影の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
    text-align: center;
    background:transparent;
  border-radius: 25px;
  border: solid 1px ;
    outline: none;
    /*アニメーションの指定*/
    transition: all 0.2s ease;
}

/*hoverをした後のボタンの形状*/
.btn01:hover{
  border-color:transparent; 
}

/*ボタンの中のテキスト*/
.btn01 span {
  position: relative;
  z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /*テキストの形状*/
  display: block;
    padding: 10px 30px;
  background:rgb(59, 246, 249);
  border-radius: 25px;
  color:rgb(249, 251, 251);
    /*アニメーションの指定*/
    transition: all 0.3s ease;
}

/*== 下に押し込まれる（立体が平面に） */

/*影の設定*/
.pushdown:before {
    content:"";
    /*絶対配置で影の位置を決める*/
    position: absolute;
  z-index: -1;
    top:4px;
    left:0;
    /*影の形状*/
    width: 100%;
    height: 100%;
  border-radius: 25px;
    background-color:rgb(33, 194, 194);;
}

/*hoverの際にY軸に4pxずらす*/
.pushdown:hover span {
  background-color: rgb(7, 166, 113);
  color: rgb(33, 194, 194);;
  transform: translateY(4px);
}
body{
  vertical-align:middle; 
  padding: 100px 0;
  text-align: center;
  background-color: #87ceeb;
}

p{
  margin: 0 0 10px 0;
}

/* ボタン02共通設定 */
.btn02{
    /*影の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
    text-align: center;
    background: transparent;
  border-radius: 25px;
  border: solid 1px ;
    outline: none;
    /*アニメーションの指定*/
    transition: all 0.2s ease;
}

/*hoverをした後のボタンの形状*/
.btn02:hover{
  border-color:transparent; 
}

/*ボタンの中のテキスト*/
.btn02 span {
  position: relative;
  z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /*テキストの形状*/
  display: block;
    padding: 10px 30px;
  background:#e4fc2b;
  border-radius: 25px;
  color:rgb(249, 251, 251);
    /*アニメーションの指定*/
    transition: all 0.3s ease;
}

/*== 下に押し込まれる（立体が平面に） */

/*影の設定*/
.pushdown:before {
    content:"";
    /*絶対配置で影の位置を決める*/
    position: absolute;
  z-index: -1;
    top:4px;
    left:0;
    /*影の形状*/
    width: 100%;
    height: 100%;
  border-radius: 25px;
    background-color:rgb(249, 251, 251);;
}

/*hoverの際にY軸に4pxずらす*/
.pushdown:hover span {
  background-color: rgb(7, 166, 113);
  color: #fff;
  transform: translateY(4px);
}

/* ボタン03共通設定 */
.btn03{
  /*影の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
text-decoration: none;
display: inline-block;
  text-align: center;
  background:transparent;
border-radius: 25px;
border: solid 1px ;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.2s ease;
}

/*hoverをした後のボタンの形状*/
.btn03:hover{
border-color:transparent; 
}

/*ボタンの中のテキスト*/
.btn03 span {
position: relative;
z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  /*テキストの形状*/
display: block;
  padding: 10px 30px;
background:#2bfc9a;
border-radius: 25px;
color:rgb(249, 251, 251);
  /*アニメーションの指定*/
  transition: all 0.3s ease;
}

/*== 下に押し込まれる（立体が平面に） */

/*影の設定*/
.pushdown:before {
  content:"";
  /*絶対配置で影の位置を決める*/
  position: absolute;
z-index: -1;
  top:4px;
  left:0;
  /*影の形状*/
  width: 100%;
  height: 100%;
border-radius: 25px;
  background-color:rgb(15, 237, 160);;
}

/*hoverの際にY軸に4pxずらす*/
.pushdown:hover span {
background-color: rgb(7, 166, 113);
color: #fff;
transform: translateY(4px);
}

/* ボタン04共通設定 */
.btn04{
  /*影の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
text-decoration: none;
display: inline-block;
  text-align: center;
  background:transparent;
border-radius: 25px;
border: solid 1px ;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.2s ease;
}

/*hoverをした後のボタンの形状*/
.btn04:hover{
border-color:transparent; 
}

/*ボタンの中のテキスト*/
.btn04 span {
position: relative;
z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  /*テキストの形状*/
display: block;
  padding: 10px 30px;
background:rgb(255, 92, 163);
border-radius: 25px;
color:rgb(249, 251, 251);
  /*アニメーションの指定*/
  transition: all 0.3s ease;
}

/*== 下に押し込まれる（立体が平面に） */

/*影の設定*/
.pushdown:before {
  content:"";
  /*絶対配置で影の位置を決める*/
  position: absolute;
z-index: -1;
  top:4px;
  left:0;
  /*影の形状*/
  width: 100%;
  height: 100%;
border-radius: 25px;
  background-color:rgb(200, 255, 238);;
}

/*hoverの際にY軸に4pxずらす*/
.pushdown:hover span {
background-color: rgb(7, 166, 113);
color: #fff;
transform: translateY(4px);
}




