h1{
    text-align: center;
}

body{
    background-color: #f1f1f1;
    margin-left: 100px;
    margin-right: 100px;
}

.flex{
    display: flex;
}

.flex .image{
    width: auto;
    height: auto;
}

.flex .text{
    margin: 10px 0 30px 20px;
    padding: 0;
}

.img{
    width: 50%;
    margin: 0 100px 20px 0;
}

.titleland{
    background-color: rgb(249, 208, 138);
    font-size: larger;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin: 30px 0 30px 0;
}

.titlesea{
    background-color: rgb(178, 247, 224);
    font-size: larger;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin: 30px 0 30px 0;
}

#hunny_hunt{
    width: 400px;
}

#sprush{
    width: 400px;
}

#bigsunder{
    width: 600px;
}

#soarin{
    width: 500px
}
#toy_story{
    width: 400px;
}

#tower_of_terrier{
    width: 400px;
}

.land{background-color: rgb(249, 208, 138);
    font-size: larger;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;

}
.sea{background-color: rgb(178, 247, 224);
    font-size: larger;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;

}